$archivo : 'Archivo Black', sans-serif;
$roboto: 'Roboto', sans-serif;
$arimo: 'Arimo', sans-serif;
$zilla: 'Zilla Slab Highlight', cursive;
$coda: 'Coda Caption', sans-serif;
$raleway: 'Raleway', sans-serif;
$bebas: 'Bebas Neue', sans-serif;
$impact: 'Impact', sans-serif;
$mallanna: 'Mallanna', sans-serif;
$megrim: 'Megrim', sans-serif;
$raj: 'Rajdhani', sans-serif;