@import 'fonts';

@mixin Screen {
    height: 100%;
    width: 100%;
    margin: 0;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin bodyTxt {
    font-family: $raj;
    letter-spacing: 5px;
    margin-bottom: 1.75em;
    // font-variant: small-caps;
}

html {
    background-color: black;
    // background: url(../imgs/12BG.svg) no-repeat center center fixed;
    @include Screen();
}

.pg {
    position: absolute;
    height: 100%;
    width: 100%;
}

.contactBG {
    background: url(../imgs/kingYnaBG.svg) no-repeat center center fixed;
    @include Screen();
}

.aboutBG {
    background: url(../imgs/hexPattern.svg) no-repeat center center fixed;
    @include Screen();
}

.homeBG {
    background: url(../imgs/midnightCityBG.svg) center center fixed;
    @include Screen();
}

.projectsBG {
    background: url(../imgs/midnightCityBG2.svg) no-repeat center center fixed;
    @include Screen();
}

.notFound {
    color: red;
}

.fillArea {
    height: 100%;
    width: 100%;
    top: 0;
}

.TitleContainer {
    height: 100%;
}

.Title {
    font-family: $megrim;
    font-size: 140px;
    font-variant: small-caps;
    flex-grow: 2;
    order: 2;
    text-align: center;
    margin-bottom: .3em;
    color: white;
    //  text-shadow:
    //         2px 2px 0 #000,
    //         -1px -1px 0 #000,  
    //         1px -1px 0 #000,
    //         -1px 1px 0 #000,
    //         1px 1px 0 #000;
}

.bodyText {
    @include bodyTxt();
    font-size: 1.4em;
    font-weight: 400;
}

.bodyTextX {
    @include bodyTxt();
    font-size: 1.7em;
    font-weight: 600;
}

.Left {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.Right {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.DivRight {
    text-align: right;
}

#clickImg {
    margin-bottom: 3.5em;
}


@media screen and (max-height: 775px) {
    .bodyTextX, .bodyText {
        margin-bottom: 1em;
    }
    #clickImg {
        margin-bottom: 2em;
    }
}

@media screen and (max-height: 675px) {
    .bodyTextX {
        font-size: 1.3em;
        margin-bottom: .5em;
    }

    .bodyText {
        font-size: 1.1em;
    }

    #clickImg {
        margin-bottom: 1.4em;
        width: 176px;
        height: 80px;
    }
}

@media screen and (max-width: 1000px) {
    .Title {
        font-size: 80px;
    }

    .bodyText {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 750px) {
    .Title {
        font-size: 60px;
    }

    .bodyText {
        font-size: .85em;
        letter-spacing: 2px;
    }

    #clickImg {
        width: 110px;
        height: 50px;
    }
}

@media screen and (max-width: 370px) {
    .bodyTextX {
        font-size: 1.2em;
    }
}
