@import 'fonts';

@mixin linkBtnFont {
    font: 1.8rem $arimo;
        text-transform: uppercase;
        // color: transparent;
        // -webkit-text-stroke: .5px white;
        color: white;
        -webkit-text-stroke: 0;

        letter-spacing: 5px;
        // text-shadow:
        //     3px 3px 0 #000,
        //     -1px -1px 0 #000,  
        //     1px -1px 0 #000,
        //     -1px 1px 0 #000,
        //     1px 1px 0 #000;
}

@mixin styleHover {
    color: #f5c675;
    // -webkit-text-stroke: 0;

    //  text-shadow:
    //     3px 3px 0 #000,
    //     -1px -1px 0 #000,  
    //     1px -1px 0 #000,
    //     -1px 1px 0 #000,
    //     1px 1px 0 #000;

}

.DivRight {
    text-align: right;
}

a:link {
    text-decoration: none;
}

.ButtonRow {
    height: 40px;
    text-align: center;
    
    & a {
        @include linkBtnFont();
        letter-spacing: 5px;

        &:hover {
            @include styleHover();
        }
    }
}

.Upright {
    text-align: center;
    width: 50px;
    
    & a {
        writing-mode: vertical-lr;
        text-orientation: upright;
        letter-spacing: 2px;
        @include linkBtnFont();
        
        &:hover {
            @include styleHover();
        }
    }
}

@media screen and (max-width: 1000px) {
    .Upright, .ButtonRow {
        & a {
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 750px) {
    .Upright, .ButtonRow {
        width: 40px;
        
        & a {
            font-size: .8rem;
        }
    }

    .TitleContainer {
        & h4, p {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}